
{% extends "base.html" %}
{% block content %}
   <style>
    body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #f4f4f9;
        color: #333;
    }
    h1, h2, h3 {
        color: #333;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    input[type=file], input[type=submit] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }
    #imageDisplay {
        display: block; /* Makes the image block level for margin auto to work */
        margin: 20px auto; /* Centers the image horizontally */
        max-width: 100%; /* Ensures the image does not exceed its container width */
        height: auto; /* Maintains aspect ratio */
    }
    .results {
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .header {
        font-size: 24px;
        color: #2A5783;
    }
</style>


    <div class="container">
        <h1>COS30018 INTELLIGENT SYSTEMS</h1>
        <h2>Reshaping the Retail Industry using AI Vision</h2>
        <h3>Group 7</h3>
        <p>Kelly Atieno Dianga (102763758), Rafid Al Jawad (102776293), Munieb Awad Elsheikhidris Abdelrahman (101233250), Farisya Kayrin Binti Fahzmie (102762726)</p>
        <p>Out-of-stock detection (empty shelves) is a critical aspect of retail operations, and AI-powered computer vision systems play a pivotal role in efficiently identifying and rectifying instances where products are unavailable for customers. By automating this process, retailers can reduce the likelihood of missed sales opportunities and enhance customer satisfaction by ensuring that popular products are consistently in stock. Effective product management (unorganised shelves detection) is essential for ensuring precise and well-organized product arrangement, aligning with planogram compliance. In this project's basic version, the primary focus is on evaluating the following cases on product placement.</p>
        <h3>Try it out:</h3>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="modelType">Select Model:</label>
            <select id="modelType" name="modelType">
                <option value="multi_class">Multi Class Detection</option>
                <option value="empty_detection">Empty Detection</option>
                <option value="unorganised_detection">Unorganised Detection</option>
            </select>
            <input type="file" name="file" accept="image/*" onchange="previewFile()">
            <input type="submit" value="Detect">
        </form>
        <h3 class="header">Detection Results:</h3>
        <div class="results">
            <img id="imageDisplay">
        </div>
    </div>

    <script>
    document.querySelector('form').onsubmit = function(event) {
    event.preventDefault();
    const formData = new FormData();
    formData.append('file', document.querySelector('input[type=file]').files[0]);
    formData.append('modelType', document.querySelector('#modelType').value);

    fetch('/', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        // Append a timestamp to the image URL to avoid caching
        var date = new Date();
        document.getElementById('imageDisplay').src = data.image_url + "?t=" + date.getTime();
    })
    .catch(error => console.error('Error:', error));
    };


    function previewFile() {
        const preview = document.getElementById('imageDisplay');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}
